* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  height: 100vh;
}
.p10 {
  padding: 10px !important;
}
.pl-10 {
  padding-left: 10px !important;
}
header {
  height: 48px;
  display: flex;
  justify-content: end;
  align-items: center;
  padding: 4px;
}
.sp-login {
  display: flex;
}
.login {
  display: flex;
  align-items: center;
}
.avatar {
  height: 32px;
  width: 32px;
  border-radius: 50%;
  margin: 0 10px;
}
.app-google,
.login {
  border-radius: 50%;
}
.app-google:hover,
.login:hover {
  background-color: #ddd;
}
.icon-google {
  height: 24px;
  width: 24px;
}
.gmail {
  font-size: 14px;
}
.gmail a {
  color: #5f6368;
  text-decoration: none;
}

.img-google {
  display: flex;
  align-items: center;
  min-height: 290px;
  height: calc(100% - 560px);
  flex-direction: column-reverse;
}
.form-search {
  margin: 0 auto;
  padding-top: 24px;
  width: auto;
  max-width: 584px;
}
.input-search {
  display: flex;
  border: 1px solid #dfe1e5;
  border-radius: 24px;
  flex: 1;
  padding: 5px 8px 0 14px;

  /* margin: 0 auto;
  padding-top: 6px;
  width: auto;
  max-width: 584px; */
}
.input-search:hover {
  background-color: #fff;
  box-shadow: 0 1px 6px rgba(32, 33, 36, 0.28);
  border-color: rgba(223, 225, 229, 0);
}
.search-icon {
  display: flex;
  align-items: center;
  padding-right: 13px;
  margin-top: -5px;
  height: 46px;
}
.search {
  outline: none;
  border: none;
  color: rgba(0, 0, 0, 0.87);
  background-color: transparent;
  display: flex;
  flex: 1;
  flex-wrap: wrap;
  margin-top: 6px;
  line-height: 22px;
  margin-bottom: 8px;
  overflow-x: hidden;
  font-size: 16px;
}

.keybroad-icon {
  display: flex;
  cursor: pointer;
  align-items: center;
  border: 0;
  background: transparent;
  outline: none;
  padding: 0 10px;
  font-size: 24px;
}
.mic-icon,
.camera-icon {
  display: flex;
  cursor: pointer;
  align-items: center;
  border: 0;
  background: transparent;
  outline: none;
  padding: 0 10px;
}
.button-center {
  padding: 18px 0 0 0;
  align-items: center;
  display: flex;
  justify-content: center;
}
input[type="submit"] {
  background-color: #f8f9fa;
  border: 1px solid #f8f9fa;
  border-radius: 4px;
  color: #3c4043;
  font-family: arial, sans-serif;
  font-size: 14px;
  margin: 11px 4px;
  padding: 0 16px;
  line-height: 27px;
  height: 36px;
  min-width: 54px;
  text-align: center;
  cursor: pointer;
  user-select: none;
}

input[type="submit"]:hover {
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
  background-color: #f8f9fa;
  border: 1px solid #dadce0;
  color: #202124;
}
.language {
  text-align: center;
  color: #4d5156;
  line-height: 28px;
  height: 365px;
  flex-grow: 1;
}
.language a {
  padding: 0 4px;
  text-decoration: none;
}
.language a:hover {
  text-decoration: underline;
}

footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  max-height: 240px;
  background: #f2f2f2;
}
.country {
  padding: 15px 30px;
  border-bottom: 1px solid #dadce0;
  font-size: 15px;
  color: #70757a;
}
.info {
  padding: 0 20px;
  display: flex;
  justify-content: space-between;
  line-height: 46px;
}
.info-detail {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.info-detail a,
.info-setting a {
  padding: 0 10px;
  color: #70757a;
  text-decoration: none;
}
.info-detail a:hover,
.info-setting a:hover {
  text-decoration: underline;
}
.info-setting {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
